html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.keyvisual {
    position: relative;
    background: url(../images/bg.jpg) center top no-repeat;
    /* 이미지의 너비가 늘어날 때 높이도 같은 비율에 맞춰서 늘어남 */
    background-size: cover;
    height: 100%;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
}